extends _head
block title
 title= "JAPAN Idol Diagnosis | CONTACT"
block body
 #main
  #about
   h2 CONTACT
   #about_text
    p.text_japan
     | 何か依頼のある場合はSNSからでもお気軽にお声掛けください。
     br
     | chanchihiro

 include _footer